::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background: #aaa;

}

::-webkit-scrollbar-thumb {
    background: #f00
}

@font-face {
    font-family: pixel;
    src: url(../fonts/pixel.ttf);
}

html,
body {
    font-family: pixel;
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100%;
    widows: 100%;
    color: #333;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff
}

.social-links {
    position: fixed;
    bottom: 50%;
    left: 0;
    transform: translate(0, 50%);
    width: 65px;
    height: 255px;
    z-index: 9;
}

.social-links__item {
    display: block;
    opacity: .7;
    transition: opacity .2s linear;
    height: 25%;
}

.social-links__item:hover {
    opacity: 1;
}

.switcher {
    height: 120px;
    width: 25px;
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 9;
    right: 35px;
    display: grid;
    grid-row-gap: 12px;
}

.switcher__item {
    transition: background .14s linear;
    cursor: pointer;
    height: 25px;
    background: #ddd;
}

.f {
    background: url(../img/facebook-logo.png) no-repeat center;
    background-size: cover;
}

.vk {
    background: url(../img/vk-logo.png) no-repeat center;
    background-size: cover;
}

.git {
    background: url(../img/git-logo.png) no-repeat center;
    background-size: cover;
}

.inst {
    background: url(../img/inst-logo.png) no-repeat center;
    background-size: cover;
}

.about-me {
    position: relative;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}



.bg {
    position: absolute;
    z-index: 0;
    transform-origin: top left;
    transform: skewY(-3deg);
    width: 100%;
    height: 100%;
}

.bg-dark {
    background: #000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;


    /*  display: grid;
    grid-template-areas: 'photo desc';
    grid-template-columns: 300px 570px;
    grid-column-gap: 165px;
    align-items: center;
    justify-items: center;
    width: 75%;*/
}

.anim-line-wrapper {
    width: 570px;
    height: 100px;
}

/*
.about-me__photo {
    --width: 300px;
    background: url(../img/radcliffe_big.jpg) no-repeat center;
    background-size: cover;
    grid-area: photo;
    z-index: 1;
    height: calc(var(--width) + 50px);
    width: var(--width);
}*/

.about-me__description {
    grid-area: desc;
    z-index: 1;
    font-size: 1.8rem;
}

.animation-line {
    line-height: 2rem;
    white-space: pre;
}




.interests__wrapper {
    padding-top: 25px;
    display: grid;
    grid-template-areas: "skills favorites";
    height: 100vh;
    justify-items: center;
}

.title-wrap {
    z-index: 2
}

.title {
    transition: all .2s;
    text-align: center;
    font-size: 3rem;
    z-index: 3;
    cursor: pointer;
}

.subtitle {
    position: relative;
    font-size: 2.4rem;
}

.skills {
    grid-area: skills;
}

.favorites {
    grid-area: favorites;
    align-self: center;
}

.skills-list,
.favorites-list {
    font-size: 2rem;
}

.portfolio__overlay {
    transition: all .3s linear;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.portfolio__link {
    display: block;
    width: auto;
}

.portfolio__wrapper {
    --width: 200px;
    display: grid;
    grid-template-columns: repeat(4, var(--width));
    grid-template-rows: repeat(2, var(--width));
    grid-column-gap: 23px;
    grid-row-gap: 23px;
    justify-content: center;
    width: 80%;
    margin: 30px auto 0;
}

.more-wrap {
    margin-top: 25px;
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-wrap__link {
    position: relative;
    margin-right: 13px;
}

.link-r {
    opacity: 0;
}

.footer {
    background: #111;
    height: 25%;
}

input {
    font-family: pixel;
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 0 0 15px;
}

textarea {
    font-family: pixel;
    padding: 8px 10px 0 15px;
    min-width: 800px;
}

input[type='submit'] {
    font-family: pixel;
    transition: background .2s linear;
    height: 45px;
    max-width: 225px;
    padding: 0;
    border: none;
    cursor: pointer;
    background: #111;
    color: #fff;
}

input[type='submit']:hover {
    background: #f00;
}
input:focus{border: none; outline: none}
.form_input:focus {
    outline: none;
    transition: border .15s linear;
    border-left: 3px solid #f00;
}

.two-dots {
    font-size: 3rem;
    position: absolute;
    right: -18px;
    bottom: -8px;
}

.contacts {
    height: 100%;
}

.interests,
.contacts,
.portfolio {
    position: relative;
    margin-top: 120px;
    height: 100vh;
}

.contacts .bg {
    bottom: -60px;
    height: 20%;
    transform-origin: bottom right;
}

.list__item {
    list-style-image: url(../img/square.svg);
    transition: all .1s linear;
}

.list__item:hover {
    list-style-image: url(../img/square-red.svg)
}

.hover {
    transition: all .06s;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: inherit;
    background: #f00;
}

.hoverR {
    left: 100%;
}

.hoverL {
    left: -100%;
}

.hover::before,
.hover::after {
    content: "";
    width: 15%;
    height: 100%;
    position: absolute;
    background: url(../img/angle.svg) no-repeat top right;
    background-size: contain;
}

.hover::before {
    left: -15%;
}

.hover::after {
    right: -15%;
    transform: scale(-1, 1);
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.name {
    position: relative
}

.name::before,
.name::after {
    content: 'Константин';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.name::before {
    color: #f00;
    animation: glitch 1s step-end infinite;
}

.name::after {
    color: #00f;
    animation: glitch .85s step-end infinite;
}

@keyframes glitch {
    0% {
        left: -1px;
        top: -1px;
    }

    25% {
        left: 2px;
        top: 1px;
    }

    50% {
        left: -2px;
        top: -1px;
    }

    75% {
        left: 1px;
        top: 1px;
    }

    100% {
        left: -1px;
        top: -1px;
    }
}

.error-wrap {
    background: #fff;
    opacity: 0;
    transition: opacity .1s linear;
    height: 35px;
    width: 230px;
    position: absolute;
    left: 50%;
    bottom: 9px;
    transform: translate(-50%, 0);
    border: 1px solid #000;
    border-radius: 3px;
}

.error__text {
    width: 91%;
    font-size: .8rem;
    display: block;
    margin: 11px auto 0 auto;
    color: #000;
}

.error::before,
.error::after {
    position: absolute;
    border: 10px solid transparent;
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    left: 6px;
}

.error::before {
    border-bottom: 11px solid #fff;
    top: -19px;
    z-index: 1;
}

.error::after {
    border-bottom: 10px solid #000;
    top: -20px;
}

.disabled {
    opacity: .5;
}

form {
    position: relative;
    display: grid;
    width: 800px;
    margin: auto;
    grid-gap: 10px;
    padding-top: 40px;
}

section {
    overflow: hidden;
}

.preloader {
    --bg-color: #000;
    --wSquare: 95%;
    --width: 200px;
    position: fixed;
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
}

.preloader__content {
    position: relative;
    width: var(--width);
    height: var(--width);
    background: url(../img/preloader.svg);
    background-size: contain;
}

.list {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__item {
    transition: all .3s linear;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-bottom: 5px solid #c00;
}

.go:hover,
.watch:hover {
    background: rgba(255, 0, 0, .8);
}

.list__link {
    --width: 40px;
    width: var(--width);
    height: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s linear;
    list-style-type: none;
    background: rgba(0, 0, 0, .75);
    cursor: pointer;
}

.list__link a {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowR,
.arrowL {
    display: none;
}

.popup {
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    display: none;
    transition: all .3s linear;
    opacity: 0;
    z-index: 9;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__content {
    position: relative;
    width: 65%;
    height: 90vh;
    border: 3px solid transparent;
    border-bottom: none;
    border-radius: 5px;
    background: #fff;
}

.popup__close {
    transition: all .25s linear;
    fill: #A6A6A6;
    stroke: #A6A6A6;
    --width: 35px;
    cursor: pointer;
    position: absolute;
    width: var(--width);
    height: var(--width);
    right: -42px;
    top: -4px;
}

.popup__close:hover {
    fill: #f00;
    stroke: #f00;
}

.popup__go {
    --width: 150px;
    transition: all .35s linear;
    opacity: 0;
    background: #000;
    border-radius: 2px;
    text-align: center;
    height: calc(var(--width)/3);
    width: var(--width);
    line-height: calc(var(--width)/3);
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
}

.popup__go:hover {
    background: #f00;
}

.img-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.popup__img {
    display: block;
    position: relative;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 2px 3px 10px 0px #000;
}

.active {
    opacity: 1;
}

@keyframes rotate {
    100% {
        transform: rotateZ(90deg)
    }
}

@media (max-width:1024px) {
    .preloader {
        --width: 110px;
        --wSquare: 90%;
    }


    .container {
        width: 77%;
        grid-gap: 20px;
    }

    .about-me__description {
        width: inherit;
        font-size: 2rem;
    }

    .social-links {
        width: 80px;
        height: 310px;
    }

    .social-links a {
        width: 100px;
    }

    .switcher {
        height: auto;
        width: 50px;
        grid-row-gap: 20px;
    }

    .switcher__item {
        height: 50px;
    }

    .portfolio__wrapper {
        --width: 275px;
        grid-template-columns: repeat(2, var(--width));
        grid-template-rows: repeat(4, var(--width));
    }

    .popup__content {
        height: 80vh;
        width: 80%;
    }
}

@media (max-width:768px) {
    .container {
        grid-template-areas:
            'photo'
            'desc';
        grid-template-columns: 1fr;
        grid-gap: 70px;
    }

    .portfolio__wrapper {
        margin-top: 15px;
        --width: 175px;
        grid-template-columns: repeat(2, calc(var(--width)*1.4));
        grid-template-rows: repeat(4, var(--width));
    }

    .about-me__description {
        width: inherit;
        font-size: 1.55rem;
    }

    .popup__content {
        height: 75vh;
        width: 75%;
    }
}

@media (max-width:425px) {



    body,
    html {
        font-size: 10px;
    }

    .preloader {
        --width: 50px;
        --wSquare: 68%;
    }

    .switcher {
        width: 35px;
        right: 20px;
    }

    .switcher__item {
        height: 35px;
    }

    .about-me__description {
        width: 285px;
        font-size: 1.45rem;
        line-height: 1.45rem;
    }

    .anim-line-wrapper {
        width: 278px;
    }

    .social-links {
        bottom: 50%;
        left: 0;
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .wrap {
        height: 70px;
    }

    .social-links a {
        --width: 55px;
        height: var(--width);
        width: var(--width);
    }

    .social-links__item {
        height: inherit;
        width: inherit;
    }

    .interests,
    .contacts,
    .portfolio {
        margin-top: 0;
    }

    .interests__wrapper {
        width: 80%;
        margin: auto;
    }

    .portfolio__wrapper {
        margin-top: 75px;
        grid-row-gap: 65px;
        --width: 180px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, var(--width));
        width: 65%;
        position: relative;
    }

    .arrowR,
    .arrowL {
        display: block;
        transition: all .16s linear;
        --width: 31px;
        --height: 43px;
        position: absolute;
        background: url(../img/arrow.svg) center no-repeat;
        background-size: contain;
        cursor: pointer;
        top: -10px;
        width: var(--width);
        height: var(--height);
        z-index: 1;
    }

    .arrowR:hover,
    .arrowL:hover {
        background: url(../img/arrow-red.svg) center no-repeat;
        background-size: contain;
    }

    .arrowL {
        left: -40px;
        transform: rotateZ(180deg);
    }

    .arrowR {
        right: -40px;
    }

    .portfolio__item {
        opacity: 0;
        display: none;
    }

    .active {
        opacity: 1;
        display: block;
    }

    .more-wrap {
        font-size: 1.75rem;
    }

    form {
        grid-template-columns: 1fr;
        width: 66%;
    }

    textarea {
        min-width: 200px;
    }

    input[type='submit'] {
        max-width: 180px;
        font-size: 1.3rem;
    }

    .container {
        grid-gap: 50px;
        width: 75%;
        grid-template-columns: 300px;
        grid-template-areas: 'photo''desc';
    }

    .about-me__photo {
        --width: 255px;
        height: calc(var(--width) + 10px);
    }

    .popup__content {
        height: 65vh;
        width: 75%;
    }
}

@media (max-width:375px) {
    .social-links {
        bottom: 0;
        height: 105px;
        width: 100%;
        flex-direction: row;
    }

    .switcher {
        width: 25px;
        right: 11px;
        grid-row-gap: 15px;
    }

    .switcher__item {
        height: 25px;
    }

    form {
        width: 75%;
        margin-top: 65px;
        grid-row-gap: 45px;
    }


    .portfolio__wrapper {
        --width: 160px;
        margin-top: 65px;
        grid-row-gap: 45px;
    }

    .more-wrap {
        margin: 15px auto;
    }

    .container {
        width: 80%;
    }

    .about-me__photo {
        --width: 280px;
        height: var(--width);
    }

    .about-me__description {
        font-size: 1.45rem;
        width: 300px;
    }
}

.tab-item {
    height: 100vh;
}

@media(max-width:360px) {
    .two-dots {
        right: -12px;
        bottom: -6px;
    }

    .container {
        height: 60%;
        width: 85%;

        justify-items: flex-start;
        grid-gap: 60px;
    }

    .about-me__photo {
        --width: 250px;
        margin: 0 0 0 16px;
        height: var(--width);
    }

    .about-me__description {
        font-size: 1.5rem;
        line-height: 1.6rem;
        width: 320px;
    }

    .anim-line-wrapper {
        width: 100%;
    }


    .portfolio__wrapper {
        margin-top: 20px;
        --width: 200px;
        grid-gap: 30px;
        width: 70%;
    }

    .bg {
        transform-origin: top left;
        transform: skewY(-8deg);
    }

    .contacts .bg {
        height: 25%;
        transform-origin: top right;
        transform: skewY(-8deg);
    }

    .more-wrap {
        margin: 20px auto;
        height: 27px;
    }

    form {
        padding-top: 10px;
    }
}

@media (max-width: 320px) {

    body,
    html {
        font-size: 8px;
    }

    .social-links {
        bottom: 0;
    }

    .anim-line-wrapper {
        width: 270px;
    }

    .container {
        height: 60%;
        justify-items: flex-start;
        grid-gap: 40px;
        margin: auto;
    }

    .about-me__photo {
        --width: 232px;
    }

    .about-me__description {
        font-size: 1.6rem;
        line-height: 1.6rem;
        height: 90px;
    }

    .portfolio__wrapper {
        margin-top: 30px;
        --width: 167px;
        grid-gap: 20px;
        width: 65%;
    }

    .more-wrap {
        margin: 15px auto;
        height: 23px;
    }

    .more-wrap img {
        top: -2px;
    }
}
